---
layout: default
---

{% if page.title %}
<header class="header-page">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
	  <div class="page-heading">
	    <h1>{{ page.title }}</h1>
	    {% if page.subtitle %}
	    <hr class="small">
	    <span class="page-subheading">{{ page.subtitle }}</span>
	    {% endif %}
	  </div>
    </div>
  </div>
</header>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- anu-encabezado -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-6399493772246803"
     data-ad-slot="9588920975"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

{% endif %}

<div class="row contend-div">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {{ content }}
    <!--
	{% if page.comments %}
    <div class="disqus-comments">
	  {% include disqus.html %}
    </div>
	{% endif %}
	-->
  </div>
</div>
